/*----------------ADDING WHITE SPACE-------------*/

.title {
  margin-bottom: 0.75em;
}

.section h1,
.section h2, 
.section h3, 
.section h4, 
.section h5 { 
  padding-top: 0.75em !important;
  margin-bottom: 0.75em;
}

/*LARGE HERO IMAGE AT TOP OF PAGE*/

.hero-image {
    position: relative;
    margin-bottom: 2em;
    /* liner gradient tints the image darker for readability*/
    background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ), url(images/hero-train.jpg); 
    height: 400px;
    background-size: cover;
    background-color: #141c25f2;
    background-position: center center;
    display: flex; /* Change to `display: none` for no hero image */
    justify-content: center;
    align-items: center;
}

.top-text {
  position: relative;
  font-size: 2.5em;
  padding-bottom: 0.5em
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no top text */
  color: #ffffff72;
}

.bottom-text {
  position: relative;
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 4.5em;
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no bottom text */
  color: #ffffff;
  margin-bottom: 2.5rem;
  font-weight: bold;
}

/* Fix font on mobile */
@media only screen and (max-width: 700px){
  .top-text {
    font-size: 1.5em;
  } 
  .bottom-text {
    font-size: 2em;
  }
}

/*-----------------TOC----------------*/



/*INFO BOX*/

.info {
  padding: 1em 1em 0.25em 3.5em;
  margin-bottom: 10px;
  background-color: hsla(0, 0%, 100%, .1);
  background-position: 0.5em 0.5em;
  background-size: 2.5em;
  background-repeat: no-repeat;
  border-radius: 0.5em;
}

.info {
  background-image: url("images/info.svg");
  background-color: hsla(209, 42%, 47%, .1);
  border: 1px solid var(--blue);
}

/*TABLE*/

.striped table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.striped table thead th { 
  border-bottom: 1px solid #ddd; 
}

.striped th, td { 
  padding: 5px;
}

.striped thead, tfoot, tr:nth-child(even) { 
  background: #eee;
  }
  
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1920px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1920px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.closeimg {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #18bc9c;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closeimg:hover,
.closeimg:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}